body {
    background-image: linear-gradient(to right, #dfdfdf, #f8f8f8, #dfdfdf);
    /* background-color: rgb(233, 212, 212); */
}

.shadow {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.banner-color {
    color: rgb(209, 158, 92);
}

.banner-color-bg {
    background-color: rgb(209, 158, 92);
}

.jumbotron {
    background-image: url(/img/grass.jpg);
    background-size: 800px;
}

.shows-font {
    font-family: 'Fira Code', monospace;
}

h1, h3, h4 {
    font-family: 'Molle', cursive;
}

.theList {
    margin-left: 27px;
    margin-right: 27px;
}

.listing {
    border: 2px hidden rgb(117, 115, 115);
    border-style: outset dotted outset dotted;
    background-color: rgb(230, 242, 245);
    box-shadow:
    0 0 0 1px hsl(0, 0%, 80%),
    0 0 0 1px hsl(0, 0%, 90%);
}

#icon {
    /* border: 1px solid white; */
}

#icon:hover, .banner-color:hover {
    text-decoration: none;
    color: rgb(209, 158, 92);
}

.when {
    font-family: 'Fira Code', monospace;
    line-height: 1.1em;
    font-size: .9em;
}

.when-border {
    border-right: 1px dashed rgb(207, 204, 204);
}

.who-border {
    border-left: 1px dashed rgb(207, 204, 204);
}

.tix-butts {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

#searchTabs {
    border-bottom: 0px;
}

#searchTabs a {
    font-size: small;
    font-weight: bold;
}

#searchTabs a.active {
    background-color: rgb(230, 242, 245);
    border: none;
    color: black;
}

#searchTabs a.active:hover {
    color: black;
}

#searchTabs a:hover {
    border: none;
    color: rgb(209, 158, 92);
}

#searchTabs a {
    color: white;
}

.subscribe-card {
    border-color: #917691;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(219, 85, 219, 0.5);
}

.shad {
    text-shadow:
    2px 2px 0 #000,
    2px 3px 0 #000,
    4px 3px 0 #917691,
    1px 3px 0 #917691;
}

.subscribe textarea {
    resize: none;
    overflow: hidden;
}

.searchbar input:focus {
    box-shadow: none;
    border: none;
}

.clone {
    border: none;
    background-color: #e6e2e2;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
}

.who, .venue, .xtra-info {
    line-height: 1em;
}

.who, .venue {
    font-size: 1.15em;
}

.xtra-info {
    font-size: .9em;
}

.nav-item {
    padding-left: 3px;
    padding-right: 3px;
}

.clone:focus {
    box-shadow: none;
    outline: none;
}

#copied {
    display: none;
}

#small {
    line-height: 1.4;
    color: white;
}

.input-group-text {
    width: 100px;
}

.site-footer {
    min-height: 170px;
    margin-top: 50px;
    background-color: #292b2c;
    min-width: 100%;
    padding: 0;
}

#signOff {
    font-style: italic;
}

.missionContainer {
    margin-bottom: 150px;
}

#headsUp {
    color: coral;
    text-align: center;
}

.showModal {
    border: none;
}

.showModalInfo {
    line-height: 1.3em;
}

#shareModal .modal-dialog{
    max-width: 330px;
}

#headsUp:hover {
    font-size: 1.03em;
}



